:root {
  /* SLATE */
  --body-text-color: #434455;
  /*NAVY BLUE*/
  --secondary-text-color: #2e2f42;
  /* IRIS */
  --button-normal-color: #4d5ae5;
  /* OCEAN */
  --button-hover-color: #404bbf;
}
body {
  color: var(--body-text-color);
  background-color: #ffffff;
  font-family: "Roboto", "Open Sans", "Noto Sans SC", sans-serif;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--secondary-text-color);
}

.logo-accent {
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}

.nav-links .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--body-text-color);
}

.adress-links .link {
  font-size: 16px;
  line-height: 1.5;

  color: var(--body-text-color);
}

.nav-links .link:hover,
.adress-links .link:hover {
  color: var(--button-hover-color);
}

.hero {
  background-color: var(--secondary-text-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.1;

  text-align: center;

  color: #ffffff;
}

.order-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  cursor: pointer;

  color: #ffffff;
  background-color: var(--button-normal-color);
}

.order-button:hover {
  background-color: var(--button-hover-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.projects h2,
.team h2 {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;

  color: var(--secondary-text-color);
}

.team h3,
/* portfolio */
.products-list h2 {
  font-size: 20px;
  line-height: 1.2;

  color: var(--secondary-text-color);
}

.mission-description,
.team-role,
.footer-description,
/* portfolio */
.products-list p {
  font-size: 16px;
  line-height: 1.5;

  color: var(--body-text-color);
}

.team {
  background-color: #f4f4fd;
}

.team-member {
  background-color: #ffffff;
}
footer {
  background-color: var(--secondary-text-color);
}

footer .logo {
  color: #f4f4fd;
}
.footer-description {
  color: #e7e9fc;
}

/* PORTFOLIO */
.products-nav-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  cursor: pointer;

  color: var(--button-normal-color);
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.products-nav-btn:hover,
.products-nav-btn:focus {
  color: #ffffff;
  background-color: var(--button-hover-color);
}
