:root {
  /*NAVY BLUE*/
  --primary-text-color: #2e2f42;
  /* SLATE */
  --secondary-text-color: #434455;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;
}

.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.logo-accent {
  color: #4d5ae5;
}
.nav-links .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
}

.adress-link .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--secondary-text-color);
}

.hero {
  background-color: var(--primary-text-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;

  text-align: center;

  color: #ffffff;
}

.order-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;

  color: var(--primary-text-color);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--primary-text-color);
}

.mission-description,
.team-role,
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--secondary-text-color);
}

.team {
  background-color: #f4f4fd;
}

.team-member {
  background-color: #ffffff;
}
footer {
  background-color: var(--primary-text-color);
}

footer .logo {
  color: #f4f4fd;
}
footer .footer-description {
  color: #e7e9fc;
}
